@import "~bootstrap/scss/bootstrap";

img {
    max-width: 100%;
    aspect-ratio: 1/1;
}

/* COMMON */

span {
    font-weight: bold;
}

/* HEADER */

body {

    background-color: #a28089;

    header {
        min-height: 100px;
        background-color: black;
        color: white;
    }

    /* MAIN */

    .ms_card-body {
        background-color: #12343b;
        color: white;
    }

    /* FOOTER */

    footer {
        min-height: 100px;
        background-color: black;
        color: white;
    }


}
