@import "~bootstrap/scss/bootstrap";

body {

    background-color: #111827;

    .ms_template {
        .ms_card {
            min-height: 300px;
            max-width: 550px;
            padding: 2rem 3rem;
            background-color: #1f2937;
            line-height: 2rem;
            margin: 3rem 0;

            .ms_red {
                font-size: 1rem;
                color: #ef4444;
                margin: 0;

                &:hover {
                color: #d02f2f;
                }
            }

            p {
                color: #9ca3af;
                font-size: 1rem;
                margin: 0;

            }

            a {
                text-decoration: none;
            }

            hr {
            color: #9ca3af;
            }

            span {
                color: white;
                font-size: .8rem;
                font-weight: bold;
            }
        }
    }
}
